@font-face {
  font-family: 'asteroidhazard';
  src:  url('fonts/asteroidhazard.eot?k8wr5o');
  src:  url('fonts/asteroidhazard.eot?k8wr5o#iefix') format('embedded-opentype'),
    url('fonts/asteroidhazard.ttf?k8wr5o') format('truetype'),
    url('fonts/asteroidhazard.woff?k8wr5o') format('woff'),
    url('fonts/asteroidhazard.svg?k8wr5o#asteroidhazard') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ah-"], [class*=" ah-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'asteroidhazard' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ah-shockwave:before {
  content: "\e904";
}
.ah-agw:before {
  content: "\e901";
}
.ah-ejecta:before {
  content: "\e909";
}
.ah-crater:before {
  content: "\e90a";
}
.ah-asteroid:before {
  content: "\e905";
}
.ah-globe:before {
  content: "\e900";
}
.ah-meteoroid:before {
  content: "\e902";
}
.ah-fire-2:before {
  content: "\e9a9";
}
.ah-fire:before {
  content: "\e903";
}
